<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DSAlgoGoodRichComplete/src/com/avinash/ch2/examples/ArithmeticProgression.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.avinash.ch2.examples.ArithmeticProgression"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DSAlgoGoodRichComplete"/>
</launchConfiguration>
